<div class="col-12 col-md-6 col-lg-4 col-xl-3 pe-3 mb-3">
  <div class="card">
    <div class="card-body p-2 d-flex align-items-center">
      <img src="<%= asset_path(category.icon) %>" alt="<%= category.name %>" class="card-image">
      <%= link_to category.name, edit_category_path(category), class: 'card-text' %>
    </div>

    <div class="d-flex">
      <%= button_to category_path(category), { method: :delete, data: { turbo: false }, class: 'btn-delete'} do %>
        <img src="<%= asset_path('icon_close.svg') %>" alt="Delete" title="Delete" class="btn-delete-img" />
      <% end %>
    </div>
  </div>
</div>
